body {
  transition: background-color 0.3s, color 0.3s;
  }

body.dark-mode {
  font-family: "Comic Sans MS"; color:rgb(247, 247, 247); 
  background-color:rgb(41, 41, 41);
  }

body.light-mode {
  font-family: "Comic Sans MS"; color:rgb(41, 41, 41); 
  background-color:rgb(247, 247, 247);
  }

p.dark-mode {
  font-size:large ;
  color:lightgrey;
  padding: 5px;
  }

p.light-mode {
  font-size:large ;
  color:rgb(0, 0, 0);
  padding: 5px;
  }

footer {
  position: fixed;
  left: 0;
  bottom:0;
  width: 100%;
  text-align: center;
  padding: 1px;
  background-color: rgb(100, 100, 100);
  color: white;
  }
  
ft{
  font-size: small;
}

h1 {
  text-shadow: 2px 2px #979797;
  }
 
h2, h3, h5, h6 {
  padding: 20px;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(100, 100, 100);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /*styling for NHL Team goalies page with the logos and gallery layout*/
  div.gallery {
    margin: 5px;
    border: 2px solid darkred;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 2px solid rgb(255, 255, 255);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
    /*h4 is the text underneath the logos in the gallery page ie NHL team goalies*/
    h4.light-mode {
      color: rgb(0, 0, 0);
      text-align: center;
      text-decoration-line: underline;
      text-decoration-color: rgb(0, 0, 0);
    }

    h4.dark-mode {
      color: rgb(255, 255, 255);
      text-align: center;
      text-decoration-line: underline;
      text-decoration-color: rgb(255, 255, 255);
    }



  /* Change the navbar link color on hover */
  li a:hover {
    background-color: darkred;
  }

  /*img {
    float:right;
  }*/

/*Formatting for goaltender pages*/
  .grid-container {
    display: flex;
    grid-template-columns: 500px auto;
    gap: 10px;
    padding: 10px;
    
  }

  /*Formating for tips and tricks page*/
  .content {
    display:flex;
    grid-template-columns: center 50px center 50px;
    gap: 10px;
    padding: 10px;
    border: 2px solid rgb(179, 179, 179);
    box-shadow:0 0 10px rgb(48, 39, 39);
  }

  aside {
    width: 260px;
    float: center;
    border-width: 100px;
}

.center-box{
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 20px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(100,100,100);
  text-align: center;
}

.home-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: darkred;
  border: black;
  border-radius: 5px;
  text-align: center;
}

.home-button:hover {
  background-color: rgb(83, 0, 0);
}



