body{font-family: "Comic Sans MS"; color:rgb(247, 247, 247); background-color:rgb(41, 41, 41);}

p{color:rgb(255, 255, 255);}

footer {
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: rgb(100, 100, 100);
    color: white;
  }
  
  h1 {
    text-shadow: 4px 4px #363636;
  }
 
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(100, 100, 100);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  



  

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(102, 102, 102);
  }