<!doctype html>
{%extends "layout.html"%} 
{%block content%}

<h2>Admin page</h2>

<style>
table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
}
</style>

<div>
    <center>
        <table>
            <tr bgcolor="darkred">
                <th>Name</th>    
                <th>Message</th>
                <th>Topic</th>
            </tr>
            {% for item in feedback %}
            <tr bgcolor="grey">
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
    </div>

</html>
{%endblock%}