<!doctype html>
{%extends "layout.html"%} 
{%block content%}

<html>
        
        <h2>NHL Team Goalies</h2>

        <hr>

        <!--Gallery display for all_teams page which shows the logo and name of each team-->
        <div class="gallery">
        <a href="http://127.0.0.1:5000/goalie/1"> <img src="static/images/montrealcanadiens.png" 
          alt="Montreal Canadiens Logo"  width = "10%" /><center><h4>Montreal Canadiens</h4></center></a>
        </div>
        
        <div class="gallery">
        <a href="http://127.0.0.1:5000/goalie/2"><img src="static/images/torontomapleleafs.png" 
          alt="Toronto Maple Leafs Logo"  width = "10%" /><center><h4>Toronto Maple Leafs</h4></center></a>
        </div>
        
        <div class="gallery">
        <a href="http://127.0.0.1:5000/goalie/3"><img src="static/images/bostonbruins.jpg" 
          alt="Boston Bruins Logo" width = "10%" /><center><h4>Boston Bruins</h4></center></a>
        </div>
        
        <div class="gallery">
        <a href="http://127.0.0.1:5000/goalie/4"><img src="static/images/chicagoblackhawks.jpg" 
          alt="Chicago Black Hawks Logo"  width = "10%" /><center><h4>Chicago Blackhawks</h4></center></a>
        </div>
        
        <div class="gallery">
        <a href="http://127.0.0.1:5000/goalie/5"><img src="static/images/detroitredwings.jpg" 
          alt="Detroit Red Wings Logo"  width = "10%" /><center><h4>Detroit Red Wings</h4></center></a>
        </div>
        
        <div class="gallery">
        <a href="http://127.0.0.1:5000/goalie/6"><img src="static/images/newyorkrangers.jpg" 
          alt="New York Rangers Logo"  width = "10%" /><center><h4>New York Rangers</h4></center></a>
        </div>

    </body>
    {%endblock%}
</html>