<!doctype html>
<html>
    <head>
        <title>Goaltending</title>
        <link rel="stylesheet" href="/static/style.css">
        <style>
        div.gallery {
            margin: 5px;
            border: 2px solid rgb(82, 19, 19);
            float: left;
            width: 180px;
          }
          
          div.gallery:hover {
            border: 2px solid rgb(255, 255, 255);
          }
          
          div.gallery img {
            width: 100%;
            height: auto;
          }
          
          div.desc {
            padding: 15px;
            text-align: center;
          }
          </style>
    
    </head>
    
    <body>
        <header>
            <center><h1>Ice Hockey Goaltending</h1></center>
        </header>
        
        

        <ul>
          <li><a href="http://127.0.0.1:5000/"><img src="/static/images/logo.jpg" height="30px"></a></li>
            <li><a href="http://127.0.0.1:5000/">Home</a></li>
            <li><a href="http://127.0.0.1:5000/history">History of Goaltending</a></li>
            <li><a href="http://127.0.0.1:5000/all_teams">NHL Team Goalies</a></li>
        </ul>

        <h2>NHL Team Goalies</h2>
        <main>
        {%block content%}{%endblock%}
        </main>
        <img src = "" width = 300>
        
        <div class="gallery">
        <a href="http://127.0.0.1:5000/goalie/1"> <img src="static/images/montrealcanadiens.png" alt="Montreal Canadiens Logo"  width = "10%" /><p>Montreal Canadiens</p></a>
        </div>
        <div class="gallery">
        <a href="http://127.0.0.1:5000/goalie/2"><img src="static/images/torontomapleleafs.png" alt="Toronto Maple Leafs Logo"  width = "10%" /><p>Toronto Maple Leafs</p></a>
        </div>
        <div class="gallery">
        <a href="http://127.0.0.1:5000/goalie/3"><img src="static/images/bostonbruins.jpg" alt="Boston Bruins Logo" width = "10%" /><p>Boston Bruins</p></a>
        </div>
        <div class="gallery">
        <a href="http://127.0.0.1:5000/goalie/4"><img src="static/images/chicagoblackhawks.jpg" alt="Chicago Black Hawks Logo"  width = "10%" /><p>Chicago Blackhawks</p></a>
        </div>
        <div class="gallery">
        <a href="http://127.0.0.1:5000/goalie/5"><img src="static/images/detroitredwings.jpg" alt="Detroit Red Wings Logo"  width = "10%" /><p>Detroit Red Wings</p></a>
        </div>
        <div class="gallery">
        <a href="http://127.0.0.1:5000/goalie/6"><img src="static/images/newyorkrangers.jpg" alt="New York Rangers Logo"  width = "10%" /><p>New York Rangers</p></a>
        </div>

        <footer>
        <p>The Footer &copy;2024</p>
        </footer>
    </body>
</html>