<!doctype html>
{%extends "layout.html"%} 
{%block content%}

<html lang="en">
 
<!-- Feedback form -->
<center>
<h2>Feedback / Recommendations</h2>

    <div class="container">
        <form action="/submitedfeedback" method="post">
          <p>Username: {{ username }}</p>
          <input type="hidden" name="username" value="{{ username }}">
      
          <label for="topic">Topic</label>
          <select id="topic" name="topic">
            <option value="issue">Issue</option>
            <option value="recommendation">Recommendation</option>
            <option value="other">Other</option>
          </select>
        </div>
          
      <div>
          <p>Description</p>
          <textarea id="message" name="message" placeholder="Write something..." maxlength="250" style="height:50px; width:600px"></textarea>
          <br>
          <input type="submit" value="Submit">
        </form>
      </div>

      <p>Note: Only the admin of Netminder can view or access feedback sent by users</p>

    </center>
</html>

{%endblock%}

