{%extends "layout.html"%} 
{%block content%}

<h2>{{goaltender[8]}}</h2>

<hr/>

<p>Nationality: {{goaltender[9]}}</p>

<div class="grid-container">
<p>Description: {{goaltender[12]}}</p>

<img src="{{goaltender[11]}}" alt = "Goaltender" width = "300px"/>
</div>

<!Statistics table for goaltender pages, retrieves data from SQL database>

<div>
<center>
<table>
    <tr bgcolor="grey">
        <th>Active From</th>
        <th>Games Played (GP)</th>
        <th>Shutouts (SO)</th>
        <th>Goals Against Average (GAA)</th>
        <th>Save Percentage (SV%)</th>
    </tr>
    
    <tr bgcolor="darkred">
        <td>{{goaltender[10]}}</td>
        <td>{{goaltender[2]}}</td>
        <td>{{goaltender[3]}}</td>
        <td>{{goaltender[4]}}</td>
        <td>{{goaltender[5]}}</td>
    </tr>    
</table>
</center>
</div>

<br>
<br>
<br>
{%endblock%}


