{%extends "layout.html"%} 
{%block content%}

<h2>{{goaltender[8]}}</h2>

<hr/>


<p>{{goaltender[9]}}</p>


<table>
    <tr>
        <th>Active From</th>
        <th>Games Played (GP)</th>
        <th>Shutouts (SO)</th>
        <th>Goals Against Average (GAA)</th>
        <th>Save Percentage (SV%)</th>
    </tr>
    <tr>
        <td>{{goaltender[10]}}</td>
        <td>GP: {{goaltender[2]}}</td>
        <td>SO: {{goaltender[3]}}</td>
        <td>GAA: {{goaltender[4]}}</td>
        <td>SV%: {{goaltender[5]}}</td>



    </tr>    
</table>



<center><img src="{{goaltender[11]}}" width = "30%" /></center>

{%endblock%}


