{%extends "layout.html"%}
{%block content%}



<p class="homepage"></p>

<center><h3>About</h3>

<div class= "center-box"><p>Welcome to Netminder, a resource for all things ‘Ice Hockey goaltending’.
    Whether you're an ice hockey enthusiast, a dedicated historian, 
    or an aspiring goaltender, this site is designed to provide you with 
    a comprehensive and engaging exploration of the art and science behind 
    guarding the net.</p></div>
  
<br>

<div class= "center-box"><p>In addition to technical knowledge and equipment evolution, 
    we celebrate the legendary figures who have defined the goaltending position. 
    Explore the profiles of famous goalies from each NHL team, discovering their 
    unique styles, career highlights, and contributions to the sport. 
    These stories not only honour the past but also inspire the next generation 
    of goaltenders.</p></div>
    
<br>
<br>
<br>
<br>
{%endblock%}