<!doctype html>
<html>

    <head>
        <title>Netminder</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="icon" type="image/x-icon" href="static/images/logo2.png">
    </head>
    
    <body>

        <header>
            <center><h1>Netminder</h1></center>
        </header>
        
        <ul>
            <li><a href="http://127.0.0.1:5000/"><img src="/static/images/logo4.png" style="width: 27px;"></a></li>
            <li><a href="http://127.0.0.1:5000/">Home</a></li>
            <li><a href="http://127.0.0.1:5000/history">History of Goaltending</a></li>
            <li><a href="http://127.0.0.1:5000/all_teams">NHL Team Goalies</a></li>
            <li><a href="http://127.0.0.1:5000/tipsandtricks">Tips & Tricks</a></li>
            <li><a href="http://127.0.0.1:5000/feedback">Feedback</a></li>
            <li><a href="http://127.0.0.1:5000/userstats">User Stats</a></li>
            <li><a href="http://127.0.0.1:5000/createstats">Create Stats</a></li>
            {% if not loggedIn%}
            <li><a href="http://127.0.0.1:5000/login">Login</a></li>
            {% endif %}
            {% if not loggedIn%}
            <li><a href="http://127.0.0.1:5000/signup">Sign Up</a></li>
            {% endif %}
            {% if loggedIn and username == 'admin' %}
            <li><a href="http://127.0.0.1:5000/admin">Admin</a></li>
            {% endif %}
            {% if loggedIn %}
            <li>
            <form action="/logout" method="post">
                <button class="a" type="submit">Sign Out</button>
            </form>
            </li>
            </ul>
            {% endif %}
        </ul>

        <title>Light/Dark Mode Toggle</title>
        <link rel="stylesheet" href="/static/style.css">

        <body class="dark-mode">
            <button id="theme-toggle">Toggle Light/Dark Mode</button>
            <script src="/static/script.js"></script>
        </body>

        <main>
        {%block content%}{%endblock%}
        </main>
        
        <footer>
        <ft>Copyright &copy;2024: Designed by Jack Cusack</ft>
        </footer>

    </body>
    
</html>