<!doctype html>
<html>
    <head>
        <title>Goaltending</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    
    <body>
        <header>
            <center><h1>Ice Hockey Goaltending</h1></center>
        </header>
        
        

        <ul>
            <li><a href="http://127.0.0.1:5000/"><img src="/static/images/logo.jpg" height="30px"></a></li>
            <li><a href="http://127.0.0.1:5000/">Home</a></li>
            <li><a href="http://127.0.0.1:5000/history">History of Goaltending</a></li>
            <li><a href="http://127.0.0.1:5000/all_teams">NHL Team Goalies</a></li>
        </ul>

        
        <main>
        {%block content%}{%endblock%}
        </main>
        
        



        
        
        <footer>
        <p>The Footer &copy;2024</p>
        </footer>
    </body>
</html>