<!doctype html>
{%extends "layout.html"%} 
{%block content%}

<html>

        <h2>Tips & Tricks</h2>

        <hr>

        <div class="content">
        <h3>Stance</h3>
        <p>The goalie should ensure they have a good stance in order to cover as much net as possible while maintaining movement options and ease for reaction saves.
            In order to achieve a good stance we must first look at the different types of stances. Firstly you have passive, ready and final. 
            In the passive stance the goalie has their hands up and relaxed with their stick on the ground, standing upright. 
            This stance should be used when the puck is at the blue line or when trying to track the puck from a distance. 
            The stance allows the goaltender to shuffle and make adjustments easily.
            The ready stance is the most common stance and is used for when the puck is in the defensive zone and/or the players are passing the puck between each other.
            This stance allows for movement while also allowing the goalie to quickly drop down into butterfly if the puck is shot early or the goalie is screened 
            and unsure of where the puck is. The goaltenders hands should be out and visable with the goalies peripheral vision to allow for easier saves with the blocker and glove.
            Legs are shoulder width apart with the goalie in a sitting like position. 
            The 'final' stance is where the goalie has their legs far apart, ready to drop into butterfly and should be used for when the goalie
            knows the player will shoot i.e they have no passing options.    
        </p>

    <img src = "static/images/finalstance.jpg"
        alt="Example of a final stance by an NHL goalie" class="responsive-image">
    </div>

        <br>

    <div class="content">
        <h3>Movement</h3>
        <p>Movement is often overlooked and goalies are sometimes thought to be the worst skaters in the team. Infact, this is the opposite. 
            Goaltenders have to be one of the best skaters in the team in order to execute fast and precise movements/adjustments. 
            The main movements include: T push, C cut, shuffles, butterfly slide and butterfly push.
            Each type of movement has a specific purpose and are situational. For example, the T push allows the goalie to move a 
            large distance to cover passes, while shuffles are 
            for small adjustments in situations where a player is moving towards the goalie on a slight angle.
        </p>
        </div>
        
        <br>

        <div class="content">
        <h3>Butterfly</h3>
        <p>The butterfly is a modern technique, where a goaltender will drop down onto the ice with their knees, covering their five hole. 
            Most of the saves a goalie makes will be in this position.
        </p>
        
        <img src = "static/images/butterfly.jpg"
        alt="Goalie in butterfly position" class="responsive-image">

        <br>

        <h3>Positioning</h3>
        <p>Having good positioning will allow you to block most of the shots you take and is a key part of goaltending. One of the best ways to think about positioning is by 
            visualising strings coming from the corner of each point on the net, these strings all connect to a puck. The area created by these strings is all the areas from which
            the puck can be shot and scored. A goalie could use this visualisation to help with positioning as it will give the goalie a rough idea of where a player can score from. 
            There are many videos and information about this triangle/string concept which will greatly help with a goaltenders success.
        </p>
        
        <img src = "static/images/positioning.jpg" 
        alt="Box theory and understanding angles diagram" class="responsive-image">
    </div>

    {%endblock%}
    </body>