<!doctype html>
{% extends "layout.html" %}

{% block content %}

<!-- Shows users stats in a table form-->
<center><h2>User Stats</h2></center>
<div>
    <center>
        <table border="1" cellpadding="10" cellspacing="0">
            <tr bgcolor="grey">
                <th>Name</th>
                <th>Games Played (GP)</th>
                <th>Shutouts (SO)</th>
                <th>Goals Against Average (GAA)</th>
                <th>Save Percentage (S%)</th>
            </tr>
            
            {% for stat in Userstats %}
            <tr bgcolor="darkred">
                <td>{{ stat[1] }}</td>
                <td>{{ stat[2] }}</td>
                <td>{{ stat[3] }}</td>
                <td>{{ stat[4] }}</td>
                <td>{{ stat[5] }}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</div>

{% endblock %}


