<!doctype html>
{%extends "layout.html"%} 
{%block content%}

<html>
    <div>
        <center>
        <table>
            <tr bgcolor="grey">
                <th>Games Played (GP)</th>
                <th>Shutouts (SO)</th>
                <th>Goals Against Average (GAA)</th>
                <th>Save Percentage (S%)</th>
            </tr>
            
            <tr bgcolor="darkred">
                <td>{{Userstats[2]}}</td>
                <td>{{Userstats[3]}}</td>
                <td>{{Userstats[4]}}</td>
                <td>{{Userstats[5]}}</td>
            </tr>    
        </table>
        </center>
        </div>

        </html>

        {%endblock%}
